<!DOCTYPE html>
<html>
<head>
    <title>JNV Prep Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
    <div class="navbar">

<h1>JNV Prep Portal</h1>

<div>

<a href="/">Home</a>
<a href="/materials">Materials</a>
<a href="#">PYQs</a>
<a href="/login">Login</a>
<a href="/register">Register</a>

</div>

</div>
</nav>

<div class="container">

<h1>Welcome to JNV Preparation Portal</h1>

<p>
Access study materials and previous year question papers here.
</p>

</div>
</body>
</html>