<!DOCTYPE html>
<html>
<head>

<title>Materials - JNV Portal</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>


<!-- Navbar -->

<div class="navbar">

<h1>JNV Prep Portal</h1>

<div>

<a href="/materials">Materials</a>

{% if email == "admin@jnv.com" %}
<a href="/upload">Upload</a>
{% endif %}

<a href="/logout">Logout</a>

</div>

</div>


<div class="container">

<h2>Available Study Materials</h2>

<div class="materials-grid">

{% for material in materials %}

<div class="material-card">

<h3>{{ material[0] }}</h3>

<p>JNVST Practice Material</p>

<a href="/view/{{ material[1] }}">
<button class="view-btn">View Material</button>
</a>

</div>

{% endfor %}

</div>

</div>

</body>

</html>