<!DOCTYPE html>
<html>
<head>
    <title>Materials - JNV Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h2>Available Study Materials</h2>
{% if email == "admin@jnv.com" %}
    <a href="/upload">
        <button>Upload New Material</button>
    </a>
    <br><br>
{% endif %}
<table border="1">
<tr>
    <th>Material</th>
    <th>Action</th>
</tr>

{% for material in materials %}
<tr>
    <td>{{ material[0] }}</td>
    <td>
        <a href="/view/{{ material[1] }}">
            <button>View</button>
        </a>
    </td>
</tr>
{% endfor %}

</table>

<br><br>

<a href="/logout">Logout</a>

</body>
</html>